body {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	text-align: center;
	width: 1200px;
	margin: 0px auto;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0px;
	padding: 0px;
}

/***************************************************************** header */
.main-header {
	min-height: 320px;
	background-color: #f4f7f9;
}

.main-header-info {
	display: flex;
	justify-content: space-between;
	height: 42px;
	font-size: 17px;
	font-weight: normal;
	line-height: 18px;
	text-align: left;
	background-color: #293449;
	padding: 0px 130px;
}

.main-header-info a {
	color: #ffffff;
}

.main-header-logo {
	width: 110px;
	height: 21px;
	background-color: #ee3643;
	padding: 13px 55px;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-header-search {
	display: flex;
	justify-content: flex-start;
	width: 270px;
	padding: 12px 0px;
}

.main-header-search input {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	font-weight: normal;
	line-height: 18px;
	text-align: left;
	color: #ffffff;
	background-color: #293449;
	border: none;
}

.main-header-bookmarks,
.main-header-cart {
	display: flex;
	justify-content: flex-start;
	min-width: 150px;
	padding: 12px 0px;
}

.catalog-header-cart {
	display: flex;
	justify-content: flex-start;
	background-color: #ee3643;
	min-width: 150px;
	padding: 12px 0px;
}

.main-header-order {
	min-width: 110px;
	background-color: #63a63e;
	padding: 12px 20px;
}

.main-header-center {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 46px 0px 35px 0px;
	margin: 0px 130px;
}

.main-header-description {
	width: 196px;
	font-size: 16px;
	font-style: italic;
	text-align: left;
	line-height: 23px;
	color: #ee3643;
	padding: 3px 71px 6px 52px;
}

.main-header-contacts {
	width: 270px;
	margin-right: 50px;
}

.main-header-phone {
	display: inline-block;
	width: 144px;
	font-size: 21px;
	text-align: left;
	line-height: 21px;
	color: #ee3643;
	border: solid 3px #ffffff;
	padding: 10px 49px 9px 71px;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 11px;
}

.main-header-address {
	display: inline-block;
	font-size: 14px;
	text-align: center;
	line-height: 24px;
	color: #32425c;
	padding: 3px 0px;
}

.main-header-enter {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	font-size: 21px;
	line-height: 21px;
	text-align: left;
}

.main-header-enter-login {
	display: flex;
	align-items: center;
	width: 121px;
	height: 45px;
	background-color: #ffffff;
	margin-left: 19px;
}

.main-header-enter-reg {
	display: flex;
	align-items: center;
	width: 100px;
	height: 45px;
	background-color: #ffffff;
	padding: 0px 25px;
	margin-left: 10px;
}


.catalog-header-enter-login {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	height: 45px;
	background-color: #ffffff;
}

.catalog-header-enter-login span {
	flex-grow: 1;
}

.catalog-header-enter-orders,
.catalog-header-enter-account {
	position: relative;
	font-size: 16px;
	line-height: 18px;
	text-align: left;
	text-decoration: underline;
	padding: 8px 15px 8px 18px;
}

.catalog-header-enter-orders::after {
	content: "";
	position: absolute;
	left: 100%;
	top: 15px;
	width: 4px;
	height: 4px;
	background-color: #32425c;
	border-radius: 4px;
}

.main-navigation {
	margin: 0px 130px;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #32425c;
	box-shadow: inset 0px -5px 0 0 #293449;
}

.main-navigation a {
	color: #ffffff;
}

.main-navigation ul {
	list-style: none;
}

.main-navigation-list {
	display: flex;
	justify-content: space-between;
	min-height: 60px;
	flex-wrap: wrap;
	padding: 0px 22px;
	margin: 0;
}

.main-navigation-list li {
	padding: 20px 30px;
}

/***************************************************************** header hover focus*/
.main-header-logo:hover,
.main-header-logo:focus {
	background-color: #ca2c37;
	outline: none;
}

.main-header-search:hover,
.main-header-search:hover input,
.main-header-bookmarks:hover,
.main-header-bookmarks:focus,
.main-header-cart:hover,
.main-header-cart:focus {
	background-color: #212a3a;
	outline: none;
}

.main-header-search:hover path,
.main-header-bookmarks:hover path,
.main-header-bookmarks:focus path,
.main-header-cart:hover path,
.main-header-cart:focus path {
	fill-opacity: 1;
}

.main-header-order:hover,
.main-header-order:focus {
	background-color: #5fbb2d;
	outline: none;
}

.main-header-enter-login:hover,
.main-header-enter-login:focus,
.main-header-enter-reg:hover,
.main-header-enter-reg:focus {
	color: #ee3643;
	outline: none;
}

.main-header-enter-login:hover path,
.main-header-enter-login:focus path {
	fill: #32425C;
}

.main-navigation-list li:hover,
.main-navigation-list li:focus {
	background-color: #293449;
}

.catalog-header-enter-login:hover path,
.catalog-header-enter-login:focus path {
	fill: #32425C;
}

.catalog-header-enter-orders:hover,
.catalog-header-enter-orders:focus,
.catalog-header-enter-account:hover,
.catalog-header-enter-account:focus {
	color: #ee3643;
	outline: none;
}

/***************************************************************** header active*/
.main-header-logo:active {
	background-color: #ba2732;
}

.main-header-bookmarks:active,
.main-header-cart:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.6);
}

.main-header-bookmarks:active path,
.main-header-cart:active path {
	fill-opacity: 0.5;
}

.main-header-search:active,
.main-header-search:focus,
.main-header-search:active input,
.main-header-search:focus input {
	background-color: #ffffff;
	color: #000000;
	outline: none;
}

.main-header-search:active path,
.main-header-search:focus path {
	fill: #ee3643;
	fill-opacity: 1;
}

.main-header-order:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.main-header-enter-login:active,
.main-header-enter-reg:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation-list li:active {
	background-color: #1d2739;
}

.main-navigation-list a:active {
	color: rgba(255, 255, 255, 0.5);
}

.catalog-header-enter-login:active path {
	fill: #c5c5c5;
}

.catalog-header-enter-login:active,
.catalog-header-enter-orders:active,
.catalog-header-enter-account:active {
	color: rgba(0, 0, 0, 0.3);
}

/***************************************************************** FEATURES */
.features {
	padding: 49px 120px 30px 120px;
	margin: 0px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
}

.features-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0px;
	padding: 0px;
}

.features-item {
	width: 300px;	
	height: 123px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #ffffff;
	position: relative;
	margin: 10px;
}

.features-item h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
	text-align: left;
	margin: 0px;
	padding: 20px 23px 13px;
}

.features-item a {
	min-width: 115px;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	padding: 10px;
	margin: 0px 25px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 2px;
}

.item-1  {
	background-color: #ffbf47;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 213px 31px;
	background-size: 44px 65px;
}

.item-2 {
	background-color: #3bbce3;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 197px 33px;
	background-size: 75px 61px;
}

.item-3 {
	background-color: #dc91d8;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 191px 31px;
	background-size: 78px 62px;
}

.item-4 {
	background-color: #8ed78f;
	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
	background-position: 196px 26px;
	background-size: 59px 72px;
}

.item-5 {
	background-color: #ffc047;
	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
	background-position: 191px 32px;
	background-size: 78px 63px;
}

.features-slider {
	position: relative;
	width: 620px;
	height: 266px;
	background-color: #333333;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.features-slider h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	text-align: left;
	margin: 0px;
	padding: 22px 0px 3px 24px;
}

.features-slider p {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	text-align: left;
	margin: 0px;
	padding: 0px 25px;
}

.features-slider a {
	min-width: 175px;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	padding: 11px 10px 9px 10px;
	margin: 0px 25px;
	background-color: #ee3643;
	border-radius: 2px;
}

.features-slider-list {
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 620px;
	height: 266px;
	text-align: left;
}

.features-slider-list ul{
	margin: 0;
	padding: 0;
	height: 100%;
}

.features-slider-list li{
	margin: 0;
	padding: 0;
	height: 100%;
}

.features-slider-list a {
	display: inline-block;
	margin-top: 121px;
	vertical-align: middle;
}

.slide {
  display: none;
}

.features-slider-buttons {
	display: flex;
	justify-content: space-between;
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	bottom: 86px;
	z-index: 20;
	font-size: 0;
	padding: 25px;
	padding-right: 20px;
}

.features-slider-buttons label {
	width: 22px;
	height: 40px;
	background-color: transparent;
	cursor: pointer;
}

.features-slider-buttons label[for="slide-1"] {
	background-image: url("../img/icon-left.svg");
}

.features-slider-buttons label[for="slide-2"] {
	background-image: url("../img/icon-right.svg");
}

.features-slider-controls {
	position: absolute;
	bottom: 25px;
	left: 295px;
	z-index: 20;
	font-size: 0;
}

.features-slider-controls label {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 10px;
	vertical-align: top;
	background-color: white;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#slide-1:checked ~ .features-slider-list #slide1,
#slide-2:checked ~ .features-slider-list #slide2 {
	display: block;
}

#slide-1:checked ~ .features-slider-controls label[for="slide-1"],
#slide-2:checked ~ .features-slider-controls label[for="slide-2"] {
	background-color: red;
}

.features-slider-container {
	width: 620px;
	height: 266px;
	background-color: #333333;
	background-image: url("../img/features-slide-image-1.jpg");
}

#slide-1:checked ~ .features-slider-list {
	background-image: url("../img/features-slide-image-1.jpg");
}

#slide-2:checked ~ .features-slider-list {
	background-image: url("../img/features-slide-image-2.jpg");
}


/*	font-family: 'PT Sans', sans-serif;