body {
	font-family: 'Cuprum', sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	text-align: center;
	background-color: #f2f2f2;
	margin: 0px auto;
}

a {
	text-decoration: none;
}

.wrap-page {
	width: 1200px;
	margin: 0px auto;
	background-color: #ffffff;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0px;
	padding: 0px;
}

/***************************************************************** header */
.main-header {
	min-height: 320px;
	background-color: #f4f7f9;
}

.main-header-info {
	display:flex;
	justify-content: space-between;
	height: 42px;
	font-size: 17px;
	font-weight: normal;
	line-height: 18px;
	text-align: left;
	background-color: #293449;
	padding: 0px 130px;
}

.main-header-info a {
	color: #ffffff;
}

.main-header-logo {
	width: 110px;
	height: 21px;
	background-color: #ee3643;
	padding: 13px 55px;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-header-search {
	display: flex;
	justify-content: flex-start;
	width: 270px;
	padding: 12px 0px;
}

.main-header-bookmarks,
.main-header-cart {
	display: flex;
	justify-content: flex-start;
	min-width: 150px;
	padding: 12px 0px;
}

.catalog-header-cart {
	display: flex;
	justify-content: flex-start;
	background-color: #ee3643;
	min-width: 150px;
	padding: 12px 0px;
}

.main-header-order {
	min-width: 110px;
	background-color: #63a63e;
	padding: 12px 20px;
}

.main-header-center {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 46px 0px 33px 0px;
	margin: 0px 130px;
}

.main-header-description {
	width: 210px;
	font-size: 16px;
	font-style: italic;
	text-align: left;
	line-height: 23px;
	color: #ee3643;
	padding: 4px 57px 4px 53px;
}

.main-header-contacts {
	width: 270px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-right: 50px;
}

.main-header-phone {
	width: 144px;
	font-size: 21px;
	text-align: left;
	line-height: 21px;
	color: #ee3643;
	border: solid 3px #ffffff;
	padding: 10px 49px 9px 71px;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 11px;
}

.main-header-address {
	font-size: 14px;
	text-align: center;
	line-height: 24px;
	color: #32425c;
	padding: 4px 0px;
}

.main-header-enter {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	font-size: 21px;
	line-height: 21px;
	text-align: left;
}

.main-header-enter-login {
	display: flex;
	align-items: center;
	width: 121px;
	height: 45px;
	background-color: #ffffff;
	margin-left: 19px;
}

.main-header-enter-reg {
	display: flex;
	align-items: center;
	width: 100px;
	height: 45px;
	background-color: #ffffff;
	padding: 0px 25px;
	margin-left: 10px;
}


.catalog-header-enter-login {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	height: 45px;
	background-color: #ffffff;
}

.catalog-header-enter-login span {
	flex-grow: 1;
}

.catalog-header-enter-orders,
.catalog-header-enter-account {
	position: relative;
	font-size: 16px;
	line-height: 18px;
	text-align: left;
	text-decoration: underline;
	padding: 8px 15px 8px 18px;
}

.catalog-header-enter-orders::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 15px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 4px;
}

.main-navigation {
	margin: 0px 130px;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #32425c;
	box-shadow: inset 0px -5px 0 0 #293449;
}

.main-navigation a {
	color: #ffffff;
}

.main-navigation ul {
	list-style: none;
}

.main-navigation-list {
	display:flex;
	justify-content: space-between;
	min-height: 60px;
	flex-wrap: wrap;
	padding: 0px 22px;
	margin: 0;
}

.main-navigation-list li {
	padding: 20px 30px;
}
 
/***************************************************************** header hover focus*/
.main-header-logo:hover,
.main-header-logo:focus {
	background-color: #ca2c37;
	outline: none;
}

.main-header-search:hover,
.main-header-bookmarks:hover,
.main-header-bookmarks:focus,
.main-header-cart:hover,
.main-header-cart:focus {
	background-color: #212a3a;
	outline: none;
}

.main-header-search:hover path,
.main-header-bookmarks:hover path,
.main-header-bookmarks:focus path,
.main-header-cart:hover path,
.main-header-cart:focus path {
	fill-opacity: 1;
}

.main-header-order:hover,
.main-header-order:focus {
	background-color: #5fbb2d;
	outline: none;
}

.main-header-enter-login:hover,
.main-header-enter-login:focus,
.main-header-enter-reg:hover,
.main-header-enter-reg:focus {
	color: #ee3643;
	outline: none;
}

.main-header-enter-login:hover path,
.main-header-enter-login:focus path {
	fill: #32425C;
}

.main-navigation-list li:hover,
.main-navigation-list li:focus {
	background-color: #293449;
}

.catalog-header-enter-login:hover path,
.catalog-header-enter-login:focus path {
	fill: #32425C;
}

.catalog-header-enter-orders:hover,
.catalog-header-enter-orders:focus,
.catalog-header-enter-account:hover,
.catalog-header-enter-account:focus {
	color: #ee3643;
	outline: none;
}

/***************************************************************** header active*/
.main-header-logo:active {
	background-color: #ba2732;
}

.main-header-bookmarks:active,
.main-header-cart:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.6);
}

.main-header-bookmarks:active path,
.main-header-cart:active path {
	fill-opacity: 0.5;
}

.main-header-search:active,
.main-header-search:focus {
	background-color: #ffffff;
	color: #000000;
	outline: none;
}

.main-header-search:active path,
.main-header-search:focus path {
	fill: #ee3643;
	fill-opacity: 1;
}

.main-header-order:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.main-header-enter-login:active,
.main-header-enter-reg:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation-list li:active {
	background-color: #1d2739;
}

.main-navigation-list a:active {
	color: rgba(255, 255, 255, 0.5);
}

.catalog-header-enter-login:active path {
	fill: #c5c5c5;
}

.catalog-header-enter-login:active,
.catalog-header-enter-orders:active,
.catalog-header-enter-account:active {
	color: rgba(0, 0, 0, 0.3);
}

/*	font-family: 'PT Sans', sans-serif;